<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <th:block th:replace="~{common/layout :: header}"></th:block>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <h2 class="text-center mb-4">Login</h2>

          <div th:if="${param.error}" class="alert alert-danger">
            Invalid email or password.
          </div>
          <div th:if="${param.logout}" class="alert alert-success">
            You have been logged out.
          </div>

          <div
            th:if="${param.success}"
            class="alert alert-success"
            role="alert"
          >
            Register successfully
          </div>

          <form th:action="@{/auth/login}" method="post">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                required
              />
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                required
              />
            </div>

            <div class="mb-3 form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="remember-me"
                name="remember-me"
              />
              <label class="form-check-label" for="remember-me"
                >Remember me</label
              >
            </div>

            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>

          <div class="text-center mt-3">
            <p>
              Don't have an account?
              <a th:href="@{/auth/register}">Register here</a>
            </p>
            <p><a th:href="@{/auth/forgot-password}">Forgot Password?</a></p>
          </div>
        </div>
      </div>
    </div>
    <th:block th:replace="~{common/layout :: footer}"></th:block>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
